Repository rafifos/website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --cache --fix",
    "prettier --write"
  ],
  "*.{json,md}": "prettier --write"
}

chore: add commitlint to the project
  .commitlintrc.js
  .huskyrc
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier --write

docs: refactor README
  README.md
Due: prettier --write

docs: add LICENSE
  LICENSE
Due: none

fix: promote typescript to dependency
  package.json
Due: prettier --write

Revert "fix: promote typescript to dependency"
  package.json
Due: prettier --write

chore: add more supported filetypes to Prettier and reorganize .eslintrc
  .eslintrc
  .lintstagedrc
  package.json
Due: prettier --write

chore: configure initial integration with Visual Studio Code
  .vscode/extensions.json
  .vscode/launch.json
  package.json
Due: prettier --write

docs: write a simple README
  README.md
Due: prettier --write

chore: add bug_report and feature_request issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

ci: initial github action to build with Node.js
  .github/workflows/node.js.yml
Due: none

chore: format and rename issue templates
  .github/ISSUE_TEMPLATE/BUG_REPORT.md
  .github/ISSUE_TEMPLATE/FEATURE_REQUEST.md
Due: prettier --write

ci: format Node.js action
  .github/workflows/node.js.yml
Due: none

chore: don't format .md with prettier
  .lintstagedrc
  package.json
Due: prettier --write

ci: add initial CodeQL action
  .github/workflows/codeql-analysis.yml
Due: none

docs: create CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
Due: prettier --write

chore: enable Dependabot
  .github/dependabot.yml
Due: none

chore: create CODEOWNERS
  CODEOWNERS
Due: none

chore: configure eslint-plugin-jsx-a11y and eslint-plugin-react-hooks
  .eslintrc
  package-lock.json
  package.json
Due: prettier --write

ci: enable caching npm dependencies
  .github/workflows/node.js.yml
Due: none

ci: remove unneeded comments on codeql action
  .github/workflows/codeql-analysis.yml
Due: none

ci: add initial gh actions lint action
  .github/workflows/actions.yml
Due: none

ci: add initial commitlint action
  .github/workflows/commitlint.yml
Due: none

ci: add initial ESLint action
  .github/workflows/eslint.yml
Due: none

ci: add initial prettier action
  .github/workflows/prettier.yml
Due: none

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

chore: add PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: add attribution to pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat: implement the coming soon page
  package-lock.json
  package.json
  pages/_app.tsx
  pages/api/hello.tsx
  pages/index.tsx
  src/components/CTA.tsx
  src/components/Container.tsx
  src/components/DarkModeSwitch.tsx
  src/components/Footer.tsx
  src/components/Hero.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  styles/Home.module.css
  styles/globals.css
Due: eslint --cache --fix, prettier --write

chore: improve .gitignore
  .gitignore
Due: none

chore: add script to clean the workspace
  package-lock.json
  package.json
Due: prettier --write

refactor: improve Web Vitals score with misc tasks
  src/components/DarkModeButton.tsx
  src/components/DarkModeSwitch.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write

fix: fix eslint package.json script invocation
  package.json
Due: prettier --write

chore: create tsconfig paths for common folders
  tsconfig.json
Due: prettier --write

chore: add eslint-plugin-import
  .eslintrc
  package-lock.json
  package.json
  src/components/CTA.tsx
  src/components/DarkModeButton.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write

refactor: kill temp website
  package-lock.json
  package.json
  src/components/CTA.tsx
  src/components/Container.tsx
  src/components/DarkModeButton.tsx
  src/components/Footer.tsx
  src/components/Hero.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: eslint --cache --fix, prettier --write

chore: add experimental implementation of Nord in JS as a submodule
  .gitmodules
Due: none

chore: add submodules folder to gitignore
  .gitignore
Due: none

chore: fix type acquisition and intellisense for nord
  tsconfig.json
Due: prettier --write

chore: change dependabot target branch and interval schedule
  .github/dependabot.yml
Due: none

chore(ci): disable markdown format checking on prettier action
  .github/workflows/prettier.yml
Due: none
