Repository rafifos/website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

chore(tsconfig): update tsconfig to ^5.1.3
  tsconfig.json
Due: prettier --write

chore(tsconfig): enable stricter type-checking rules
  tsconfig.json
Due: prettier --write

refactor(MyExperience): rename "Energisa" experience title
  src/organisms/my-experience/constants.ts
Due: prettier --write, eslint --cache --fix

refactor(Hero): update lettering to use Mono font
  src/atoms/logo/component.tsx
  src/organisms/hero/component.tsx
  src/utils/fonts.ts
Due: prettier --write, eslint --cache --fix

chore: add git-lfs to project
  .gitattributes
Due: none

feat(fonts): proper font usage and custom Iosevka build
  src/app/layout.tsx
  src/atoms/logo/component.tsx
  src/organisms/hero/component.tsx
  src/styles/fonts.ts
  src/styles/iosevka/VERSION
  src/styles/iosevka/iosevka-custom-bold.woff2
  src/styles/iosevka/iosevka-custom-bolditalic.woff2
  src/styles/iosevka/iosevka-custom-boldoblique.woff2
  src/styles/iosevka/iosevka-custom-extrabold.woff2
  src/styles/iosevka/iosevka-custom-extrabolditalic.woff2
  src/styles/iosevka/iosevka-custom-extraboldoblique.woff2
  src/styles/iosevka/iosevka-custom-extralight.woff2
  src/styles/iosevka/iosevka-custom-extralightitalic.woff2
  src/styles/iosevka/iosevka-custom-extralightoblique.woff2
  src/styles/iosevka/iosevka-custom-heavy.woff2
  src/styles/iosevka/iosevka-custom-heavyitalic.woff2
  src/styles/iosevka/iosevka-custom-heavyoblique.woff2
  src/styles/iosevka/iosevka-custom-italic.woff2
  src/styles/iosevka/iosevka-custom-light.woff2
  src/styles/iosevka/iosevka-custom-lightitalic.woff2
  src/styles/iosevka/iosevka-custom-lightoblique.woff2
  src/styles/iosevka/iosevka-custom-medium.woff2
  src/styles/iosevka/iosevka-custom-mediumitalic.woff2
  src/styles/iosevka/iosevka-custom-mediumoblique.woff2
  src/styles/iosevka/iosevka-custom-oblique.woff2
  src/styles/iosevka/iosevka-custom-regular.woff2
  src/styles/iosevka/iosevka-custom-semibold.woff2
  src/styles/iosevka/iosevka-custom-semibolditalic.woff2
  src/styles/iosevka/iosevka-custom-semiboldoblique.woff2
  src/styles/iosevka/iosevka-custom-thin.woff2
  src/styles/iosevka/iosevka-custom-thinitalic.woff2
  src/styles/iosevka/iosevka-custom-thinoblique.woff2
  src/utils/fonts.ts
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat(MyExperience): update work experience
  src/organisms/my-experience/constants.ts
Due: prettier --write, eslint --cache --fix

revert: chore: add git-lfs to project
  .gitattributes
Due: none

chore(fonts): delete iosevka font files
  src/styles/iosevka/iosevka-custom-bold.woff2
  src/styles/iosevka/iosevka-custom-bolditalic.woff2
  src/styles/iosevka/iosevka-custom-boldoblique.woff2
  src/styles/iosevka/iosevka-custom-extrabold.woff2
  src/styles/iosevka/iosevka-custom-extrabolditalic.woff2
  src/styles/iosevka/iosevka-custom-extraboldoblique.woff2
  src/styles/iosevka/iosevka-custom-extralight.woff2
  src/styles/iosevka/iosevka-custom-extralightitalic.woff2
  src/styles/iosevka/iosevka-custom-extralightoblique.woff2
  src/styles/iosevka/iosevka-custom-heavy.woff2
  src/styles/iosevka/iosevka-custom-heavyitalic.woff2
  src/styles/iosevka/iosevka-custom-heavyoblique.woff2
  src/styles/iosevka/iosevka-custom-italic.woff2
  src/styles/iosevka/iosevka-custom-light.woff2
  src/styles/iosevka/iosevka-custom-lightitalic.woff2
  src/styles/iosevka/iosevka-custom-lightoblique.woff2
  src/styles/iosevka/iosevka-custom-medium.woff2
  src/styles/iosevka/iosevka-custom-mediumitalic.woff2
  src/styles/iosevka/iosevka-custom-mediumoblique.woff2
  src/styles/iosevka/iosevka-custom-oblique.woff2
  src/styles/iosevka/iosevka-custom-regular.woff2
  src/styles/iosevka/iosevka-custom-semibold.woff2
  src/styles/iosevka/iosevka-custom-semibolditalic.woff2
  src/styles/iosevka/iosevka-custom-semiboldoblique.woff2
  src/styles/iosevka/iosevka-custom-thin.woff2
  src/styles/iosevka/iosevka-custom-thinitalic.woff2
  src/styles/iosevka/iosevka-custom-thinoblique.woff2
Due: none

chore(fonts): re-add iosevka font files
  src/styles/iosevka/iosevka-custom-bold.woff2
  src/styles/iosevka/iosevka-custom-bolditalic.woff2
  src/styles/iosevka/iosevka-custom-boldoblique.woff2
  src/styles/iosevka/iosevka-custom-extrabold.woff2
  src/styles/iosevka/iosevka-custom-extrabolditalic.woff2
  src/styles/iosevka/iosevka-custom-extraboldoblique.woff2
  src/styles/iosevka/iosevka-custom-extralight.woff2
  src/styles/iosevka/iosevka-custom-extralightitalic.woff2
  src/styles/iosevka/iosevka-custom-extralightoblique.woff2
  src/styles/iosevka/iosevka-custom-heavy.woff2
  src/styles/iosevka/iosevka-custom-heavyitalic.woff2
  src/styles/iosevka/iosevka-custom-heavyoblique.woff2
  src/styles/iosevka/iosevka-custom-italic.woff2
  src/styles/iosevka/iosevka-custom-light.woff2
  src/styles/iosevka/iosevka-custom-lightitalic.woff2
  src/styles/iosevka/iosevka-custom-lightoblique.woff2
  src/styles/iosevka/iosevka-custom-medium.woff2
  src/styles/iosevka/iosevka-custom-mediumitalic.woff2
  src/styles/iosevka/iosevka-custom-mediumoblique.woff2
  src/styles/iosevka/iosevka-custom-oblique.woff2
  src/styles/iosevka/iosevka-custom-regular.woff2
  src/styles/iosevka/iosevka-custom-semibold.woff2
  src/styles/iosevka/iosevka-custom-semibolditalic.woff2
  src/styles/iosevka/iosevka-custom-semiboldoblique.woff2
  src/styles/iosevka/iosevka-custom-thin.woff2
  src/styles/iosevka/iosevka-custom-thinitalic.woff2
  src/styles/iosevka/iosevka-custom-thinoblique.woff2
Due: none

feat(404): create 404 page
  src/app/not-found.tsx
Due: prettier --write, eslint --cache --fix

chore: update dependencies
  .eslintrc.json
  .prettierrc.json
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package-lock.json
  package.json
  prettier.config.js
  src/app/layout.tsx
  src/atoms/contact/component.tsx
  src/atoms/external-link/component.tsx
  src/molecules/theme-switcher/component.tsx
  src/organisms/header/component.tsx
  src/organisms/my-experience/component.tsx
  tailwind.config.js
  tsconfig.json
Due: prettier --write, eslint --cache --fix

feat: add tailwin-scrollbar
  package-lock.json
  package.json
  src/app/globals.css
  src/app/layout.tsx
  src/molecules/theme-switcher/component.tsx
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

feat: add million
  next.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --cache --fix

refactor(Hero): use static import for profile picture
  package-lock.json
  package.json
  public/.gitkeep
  src/organisms/hero/assets/profile-picture.jpg
  src/organisms/hero/component.tsx
Due: prettier --write, eslint --cache --fix

refactor(fonts) move to assets folder
  src/app/layout.tsx
  src/assets/fonts.ts
  src/assets/iosevka/VERSION
  src/assets/iosevka/iosevka-custom-bold.woff2
  src/assets/iosevka/iosevka-custom-bolditalic.woff2
  src/assets/iosevka/iosevka-custom-boldoblique.woff2
  src/assets/iosevka/iosevka-custom-extrabold.woff2
  src/assets/iosevka/iosevka-custom-extrabolditalic.woff2
  src/assets/iosevka/iosevka-custom-extraboldoblique.woff2
  src/assets/iosevka/iosevka-custom-extralight.woff2
  src/assets/iosevka/iosevka-custom-extralightitalic.woff2
  src/assets/iosevka/iosevka-custom-extralightoblique.woff2
  src/assets/iosevka/iosevka-custom-heavy.woff2
  src/assets/iosevka/iosevka-custom-heavyitalic.woff2
  src/assets/iosevka/iosevka-custom-heavyoblique.woff2
  src/assets/iosevka/iosevka-custom-italic.woff2
  src/assets/iosevka/iosevka-custom-light.woff2
  src/assets/iosevka/iosevka-custom-lightitalic.woff2
  src/assets/iosevka/iosevka-custom-lightoblique.woff2
  src/assets/iosevka/iosevka-custom-medium.woff2
  src/assets/iosevka/iosevka-custom-mediumitalic.woff2
  src/assets/iosevka/iosevka-custom-mediumoblique.woff2
  src/assets/iosevka/iosevka-custom-oblique.woff2
  src/assets/iosevka/iosevka-custom-regular.woff2
  src/assets/iosevka/iosevka-custom-semibold.woff2
  src/assets/iosevka/iosevka-custom-semibolditalic.woff2
  src/assets/iosevka/iosevka-custom-semiboldoblique.woff2
  src/assets/iosevka/iosevka-custom-thin.woff2
  src/assets/iosevka/iosevka-custom-thinitalic.woff2
  src/assets/iosevka/iosevka-custom-thinoblique.woff2
Due: prettier --write, eslint --cache --fix

refactor(profile-picture) move to assets folder
  src/assets/profile-picture.jpg
  src/organisms/hero/component.tsx
Due: prettier --write, eslint --cache --fix

refactor(fonts): replace iosevka with jetbrains mono
  src/app/layout.tsx
  src/assets/fonts.ts
  src/assets/iosevka/VERSION
  src/assets/iosevka/iosevka-custom-bold.woff2
  src/assets/iosevka/iosevka-custom-bolditalic.woff2
  src/assets/iosevka/iosevka-custom-boldoblique.woff2
  src/assets/iosevka/iosevka-custom-extrabold.woff2
  src/assets/iosevka/iosevka-custom-extrabolditalic.woff2
  src/assets/iosevka/iosevka-custom-extraboldoblique.woff2
  src/assets/iosevka/iosevka-custom-extralight.woff2
  src/assets/iosevka/iosevka-custom-extralightitalic.woff2
  src/assets/iosevka/iosevka-custom-extralightoblique.woff2
  src/assets/iosevka/iosevka-custom-heavy.woff2
  src/assets/iosevka/iosevka-custom-heavyitalic.woff2
  src/assets/iosevka/iosevka-custom-heavyoblique.woff2
  src/assets/iosevka/iosevka-custom-italic.woff2
  src/assets/iosevka/iosevka-custom-light.woff2
  src/assets/iosevka/iosevka-custom-lightitalic.woff2
  src/assets/iosevka/iosevka-custom-lightoblique.woff2
  src/assets/iosevka/iosevka-custom-medium.woff2
  src/assets/iosevka/iosevka-custom-mediumitalic.woff2
  src/assets/iosevka/iosevka-custom-mediumoblique.woff2
  src/assets/iosevka/iosevka-custom-oblique.woff2
  src/assets/iosevka/iosevka-custom-regular.woff2
  src/assets/iosevka/iosevka-custom-semibold.woff2
  src/assets/iosevka/iosevka-custom-semibolditalic.woff2
  src/assets/iosevka/iosevka-custom-semiboldoblique.woff2
  src/assets/iosevka/iosevka-custom-thin.woff2
  src/assets/iosevka/iosevka-custom-thinitalic.woff2
  src/assets/iosevka/iosevka-custom-thinoblique.woff2
  src/utils/fonts.ts
  tailwind.config.js
Due: prettier --write, eslint --cache --fix

refactor(theme-switcher) replace anchor with span to optimize SEO scores
  src/molecules/theme-switcher/component.tsx
Due: prettier --write, eslint --cache --fix

lint(theme-switcher) fix lint
  src/molecules/theme-switcher/component.tsx
Due: prettier --write, eslint --cache --fix

chore(dependabot): [skip ci] add grouped dependencies support for dependabot
  .github/dependabot.yml
Due: none

chore(dependabot): [skip ci] also check for github actions updates
  .github/dependabot.yml
Due: none

feat: add International School experience
  src/organisms/my-experience/constants.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss})
  eslint --cache --fix: any of: *.{js,jsx,ts,tsx}
